.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 7.5rem;
  padding-block: 3.75rem;

}

@media(max-width: 425px) {
  .container{
    padding-inline: 3.75rem;
    padding-block: 1.87rem;
    }
  }

