.container {
  display: flex;
  flex-direction: column;
  background-color: #CAE1FF;
  width: 100%;

  &.form {
    align-items: center;
    justify-content: center;

    min-width: 500px;
    min-height: 100vh;
  }

  &.box {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 1rem;
  }
}

@media(max-width: 425px) {
.container{
   padding: 2%;
   width: 425px;
}
   
}

