:root {
  --font-primary: "Inter", sans-serif;
  --color-blue: #004AAD;
  --color-lightblue: #d4dded;
  --color-black: #000;
  --color-white: #fff;
  --color-red: red;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
