.container {
  margin-top: auto;
  background-color: var(--color-blue);

  .container__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 7.5rem;

    img{
     width: 10%;
    }
  }
}

@media(max-width: 425px) {
.container{
  .container__box{
    flex-direction: column;
    padding: 1rem 3.75rem;

    img{
      width: 20%;
     }
  }
}
}
